{% extends 'base.html' %}

{% block content %}
<div id='nosignin'>
    dviato is the future.
    <button type='button'><a href='{{ url_for("login") }}'>Login/Sign up</a></button>
</div>
<div id='login-info'>
    <h1 id='welcome'></h1>
    <button id='get' type='button'>GET</button>
    <button id='put' type='button'>PUT</button>
    <p id='data'></p>
</div>
<script>
    get_uid('vZ9JbTjz8PUIVCrhwyiI0W60K8B3', 'test-property', 'data');

    document.getElementById('put').onclick = function() {
        const url='http://127.0.0.1:8080/user/vZ9JbTjz8PUIVCrhwyiI0W60K8B3';
        axios.put(url, {'test-property': true})
        .then(function(response) {
            console.log(response);
        })
        .catch(function(error) {
            console.log(error);
        });
    };
</script>
{% endblock %}

{% block user_scripts %}
document.getElementById('login-info').hidden = false;
document.getElementById('nosignin').hidden = true;
document.getElementById('intro-header').hidden = true;
{% endblock %}

{% block nouser_scripts %}
document.getElementById('login-info').hidden = true;
document.getElementById('nosignin').hidden = false;
document.getElementById('intro-header').hidden = false;
{% endblock %}
