{% extends 'base.html' %}

{% block content %}
<div id='firebaseui-auth-container' style='padding: 50px;' ></div>
<button id='sign-out' hidden=true><a href='{{ url_for("index") }}'>Sign Out</a></button>
{% endblock %}

{% block auth_scripts %}
var uiConfig = {
    signInSuccessUrl: '/',
    signInOptions: [
        firebase.auth.GoogleAuthProvider.PROVIDER_ID,
        firebase.auth.EmailAuthProvider.PROVIDER_ID,
    ],
    tosUrl: 'terms'
};
document.getElementById('sign-out').onclick = function () {
    firebase.auth().signOut();
};
{% endblock %}

{% block user_scripts %}
document.getElementById('sign-out').hidden = false;
{% endblock %}

{% block nouser_scripts %}
var ui = new firebaseui.auth.AuthUI(firebase.auth());
ui.start('#firebaseui-auth-container', uiConfig);
document.getElementById('sign-out').hidden = true;
{% endblock %}
